@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter', sans-serif;
 
}
@font-face {
  font-family: "Nunito";
  font-weight: bold;
  src: url("https://fonts.gstatic.com/s/nunito/v12/XRXW3I6Li01BKofA6sKUYevN.ttf'");
}
html {
  font-family: 'Inter', sans-serif;
}




kendo-pdf-document .edit-button,
kendo-pdf-document .delete-button,
kendo-pdf-document .add-button {
  display: none;
}

#mytbody tr:first-child td .delete-button {
  top: 19px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

kendo-pdf-document .item_price {
  margin-left: -2px;
}

kendo-pdf-document .prefix {
  display: inline-flex;
}

kendo-pdf-document .company-details textarea {
  text-align: right;
  justify-content: right;
  display: flex;
  margin-left: auto;
}

table {
  border-collapse: collapse;
}

kendo-pdf-document tr, kendo-pdf-document tr td,
kendo-pdf-document tr th {
  page-break-inside: avoid !important;
}

table tr, table tr th,
table tr d {
  page-break-inside: avoid !important;
}

kendo-pdf-document .address {
  margin-right: -12px;
}

kendo-pdf-document .mobile-number {
  margin-left: 8px;
}

.signatureCanvas {
  border: 1px solid;
  margin: 0 auto;
}

.rmdp-container input {
  font-size: 12px;
  line-height: 16px;
  font-weight: 500;
  color: #404a51;
}

kendo-pdf-document .text-xs {
  font-size: 12px;
}

table .rdrCalendarWrapper {
  color: #3e484f;
}

input:focus,
textarea:focus {
  outline-style: solid;
  outline-color: #d8dadb;
}

select:focus {
  outline-color: #d8dadb;
  border: none;

}

input,
textarea {
  padding: 4px 4px;
}

kendo-pdf-document input,
kendo-pdf-document textarea {
  padding: 0;
}
input.item_price,
input.item_amount,
input.item-quantity,
input.sum{
  padding:4px 0;
}
kendo-pdf-document input.item_price,
kendo-pdf-document input.item_amount,
kendo-pdf-document input.item-quantity,
kendo-pdf-document input.sum{
  padding:0;
}

#invoice-details tr td input {
  padding: 4px 4px;
}

#invoice-details tr td span {
  align-items: center;
}

kendo-pdf-document #invoice-details tr td input {
  padding: 0px;
}

kendo-pdf-document .client_name {
  margin-bottom: 0;
}

kendo-pdf-document .calender-icon {
  display: none;
}

#mytbody tr:first-child .calender-icon {
  top: 21px;
}

#mythead tr th {
  padding: 8px 0;
}

#mytbody tr td {
  padding-bottom: 14px;
}

#mytbody tr:first-child td {
  padding-top: 14px;
}

kendo-pdf-document #mytbody tr.add-item td {
  padding-bottom: 2px;
}

kendo-pdf-document #mytbody tr td {
  padding-bottom: 10px;
}

kendo-pdf-document #mytbody tr:first-child td {
  padding-top: 10px;
}


kendo-pdf-document .page-section{
position: relative;
}
kendo-pdf-document .note-section{
  position:absolute;
  width:100%;
  bottom: 90px;
}
  .service-description{
  min-height: auto;
  margin-bottom: 20px;
} 
kendo-pdf-document .service-description{
min-height: auto;
margin-bottom: 0;
} 

.box {
  display: inline-block;
  box-sizing: border-box;
}
.img-preview {
  overflow: hidden;
}
.upload-image input[type="file"]{
display: none;
}

.k-editor-content iframe{
  margin-left: auto;

}
.k-iframe body > .k-content {
 
  text-align: right !important;
}
.k-iframe .k-content > p{
  text-align: right;
}

.k-content .ProseMirror.ProseMirror-focused{
cursor: none;
}
.pdf-signature-image img{
  margin-left: auto;
  display:none
}
kendo-pdf-document .pdf-signature-image img{
  display: block;
}
.pdf-logo-image img{
  display:none;
}
kendo-pdf-document .pdf-logo-image img{
  display:block;
}
kendo-pdf-document .image-editor{
  display: none;
}


/* responsive */
 @media only screen and (max-width: 450px) {
  .delete-button {
    right:0
  }
  .calender-icon{
    display: none;
  }
  
}
@media only screen and (max-width: 1024px) {
  .calender-icon{
    /* display: none; */
    right: 10px;
  }
#invoice-details{
  width: 100%;
}
#invoice-details input{
  width:100%;
}
#invoice-details span{
  /* width:100%; */
  max-width:98%
}

#invoice-details .invoice_pament_due,.invoice_date{
max-width: 98%;
}




kendo-pdf-document #invoice-details{
  width: auto;
}
kendo-pdf-document #invoice-details input{
  width:auto;
}
kendo-pdf-document #invoice-details span{
  /* width:100%; */
  max-width:65%
}

kendo-pdf-document #invoice-details .invoice_pament_due,kendo-pdf-document .invoice_date{
max-width: 65%;
}
kendo-pdf-document .index-section{
  padding:40px
}
kendo-pdf-document .note-section{
  width:100%;
  bottom: 90px;
}
} 