@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter', sans-serif;
 
}
@font-face {
  font-family: "Nunito";
  font-weight: bold;
  src: url("https://fonts.gstatic.com/s/nunito/v12/XRXW3I6Li01BKofA6sKUYevN.ttf'");
}
html {
  font-family: 'Inter', sans-serif;
}

#curencySymbols {
  font-family: "CODE2000";
}


kendo-pdf-document .edit-button,
kendo-pdf-document .delete-button,
kendo-pdf-document .add-button {
  display: none;
}

#mytbody tr:first-child td .delete-button {
  top: 19px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

kendo-pdf-document .item_price {
  margin-left: -2px;
}

kendo-pdf-document .prefix {
  display: inline-flex;
}

kendo-pdf-document .company-details textarea {
  text-align: right;
  justify-content: right;
  display: flex;
  margin-left: auto;


}

table {
  border-collapse: collapse;
}

kendo-pdf-document tr, kendo-pdf-document tr td,
kendo-pdf-document tr th {

  page-break-inside: avoid !important;
}

table tr, table tr th,
table tr d {
  page-break-inside: avoid !important;
}


kendo-pdf-document .address {
  margin-right: -12px;
}

kendo-pdf-document .mobile-number {
  margin-left: 8px;
}


.signatureCanvas {
  border: 1px solid;
  margin: 0 auto;
}


.rmdp-container input {
  font-size: 12px;
  line-height: 16px;
  font-weight: 500;
  color: #404a51;
}

kendo-pdf-document .text-xs {
  font-size: 12px;
}

table .rdrCalendarWrapper {
  color: #3e484f;
}

input:focus,
textarea:focus {
  outline-style: solid;
  outline-color: #d8dadb;

}

select:focus {
  outline-color: #d8dadb;
  border: none;

}

input,
textarea {
  padding: 4px 4px;
}
/* textarea.item_name,
textarea.item_desc{
  padding:8px;
}
 */
kendo-pdf-document input,
kendo-pdf-document textarea {
  padding: 0;
}
input.item_price,
input.item_amount,
input.item-quantity,
input.sum{
  padding:4px 0;
}
kendo-pdf-document input.item_price,
kendo-pdf-document input.item_amount,
kendo-pdf-document input.item-quantity,
kendo-pdf-document input.sum{
  padding:0;
}



#invoice-details tr td input {
  padding: 4px 4px;
}

#invoice-details tr td span {
  align-items: center;
}

kendo-pdf-document #invoice-details tr td input {
  padding: 0px;
}

kendo-pdf-document .client_name {
  margin-bottom: 0;
}



kendo-pdf-document .calender-icon {
  display: none;
}

#mytbody tr:first-child .calender-icon {
  top: 21px;
}

#mythead tr th {
  padding: 8px 0;
}

#mytbody tr td {
  padding-bottom: 14px;
}

#mytbody tr:first-child td {
  padding-top: 14px;
}

kendo-pdf-document #mytbody tr.add-item td {
  padding-bottom: 2px;
}

kendo-pdf-document #mytbody tr td {
  padding-bottom: 10px;
}

kendo-pdf-document #mytbody tr:first-child td {
  padding-top: 10px;
}

/* kendo-pdf-document .note-section,
kendo-pdf-document .note-section textarea{
  flex-grow: 1;
  margin-bottom: 0;
  padding-bottom: 0;
} */
kendo-pdf-document .page-section{
position: relative;
}
kendo-pdf-document .note-section{
  position:absolute;
  width:100%;
  bottom: 90px;
}
 .service-description{
  min-height: 400px;
}
kendo-pdf-document .service-description{
min-height: auto;
} 


.img-container {
  /* width: 640; */
  /* height: 480; */
  /* float: left; */
}

.img-preview {
  /* width: 200px; */
  /* height: 200px; */
  /* float: left; */
  /* margin-left: 10px; */
} 